@{
    ViewData["Title"] = "Quiz";
}
<body style="background-image: url('/pitchFromTheSky.jpg');">
    <h1 class="title-text">Quiz</h1>

    <div>
        <h3 class="medium-text">Question 1:</h3>
        <p class="small-text">What happens if a goalkeeper handles a backpass?</p>
        <h3 class="medium-text">Answer: </h3>
            <li class="small-text">
                Indirect free kick
            </li>
         
    </div>

   <br />

    <div>
        <h3 class="medium-text">Question 2:</h3>
        <p class="small-text">What are the correct goal dimensions?</p>
        <h3 class="medium-text">Answer: </h3>
        <li class="small-text">
            7.32 x 2.44
        </li>
     
    </div>

    <br />

    <div>
        <h3 class="medium-text">Question 3:</h3>
        <p class="small-text">All players must wear...</p>
        <h3 class="medium-text">Answer: </h3>
        <li class="small-text">
            Studden boots, shin guards and numbered shirts.
        </li>
    </div>

    <br />

    <div>
        <h3 class="medium-text">Question 3:</h3>
        <p class="small-text">A goalkeeper is cautioned (yellow card) during the match which is then followed by penalties (penalty shoot-out). The goalkeeper saves the first kick and makes a provocative gesture towards spectators of the opposing team. What is the correct decision?</p>
        <h3 class="medium-text">Answer: </h3>
        <li class="small-text">
            The goalkeeper is shown a yellow card but is not sent off because Law 10 states that cautions (and warnings) issued to players and team officials during the match are not carried forward into penalties (penalty shoot-out). Both cautions are reported to the appropriate authorities.
        </li>
        
    </div>

    <br />

    <div>
        <h3 class="medium-text">Question 4:</h3>
        <p class="small-text">A defender recklessly fouls an attacker and the point of contact with the attacker's leg is on the penalty area line. What is the correct decision?</p>
        <h3 class="medium-text">Answer: </h3>
        <li class="small-text">
            According to Law 1 - The Field of Play, the lines belong to the areas of which they are boundaries so the foul is considered as having occurred inside the penalty area.
            The referee awards a penalty kick and cautions the defender (yellow card).
        </li>

    </div>

    <br />

    <div>
        <h3 class="medium-text">Question 5:</h3>
        <p class="small-text">
            A player takes a free kick close to the opponents' penalty area. The ball hits the crossbar, rebounds into the field of play and goes back to the kicker without touching any other players. After that, the kicker passes the ball to a team-mate who scores a goal.
            What is the correct decision?
        </p>
        <h3 class="medium-text">Answer: </h3>
        <li class="small-text">
            The referee disallows the goal and awards an indirect free kick to the defending team because the kicker played the ball a second time before it had touched another player.
        </li>

    </div>
</body>