@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@

 @{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>

<body style="background-image: url('/Home.jpg');">
    <section>
        <h1>BE IN TOUCH <br> WITH THE LATEST <br>MATCHES</h1> 
    </section>
</body>

<ItemGroup>
    <None Include="wwwroot\Home.jpg" CopyToOutputDirectory="Always" />
</ItemGroup>

</html>