/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}


body {
    background-image: url('wwwroot/Home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section {
    text-align: center;
    color: white;
    font-size: 8em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin-top: 150px;
    font-style: normal;
}

.large-text {
    text-align: center;
    color: white;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
}

.title-text {
    text-align: center;
    color: white;
    font-size: 4em;
    font-family: 'Open Sans', sans-serif;
}

.medium-text {
    text-align: center;
    color: black;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
}

.small-text {
    text-align: left;
    color: white;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
}